.site-header{
    background-color: orange;
    color: black;
    height: 100%;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    margin: 10px;
}
.profile-picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: blue 2px 5px 5px;
}
.course-link{
    color: black;
}
body{
    margin: 0;
}